@charset "utf-8";

@page{
    size: A5;
    margin: 10mm;

    @bottom-center{
        content: counter(page);
        font-family: monospace;
    }
}


@font-face{

    font-family: "Absans";
    src: url('https://circulations.constantvzw.org/assets/fonts/Absans-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face{

    font-family: "Coconut";
    src: url('https://circulations.constantvzw.org/assets/fonts/Coconat-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face{

    font-family: "outline";
    src: url('https://circulations.constantvzw.org/assets/fonts/NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face { font-family:"inconsolata-l"; src: url("https://circulations.constantvzw.org/assets/fonts/inconsolata-l.woff2") format("woff2");}


h1,h2,h3 {
    font-family: "inconsolata-l";
    line-height: 1.1;
    
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: 'inconsolata-l';
    page-break-before: always;
}

h2 {

    margin-top: 2rem;

    color: hsl(280, 100%, 43%);

    filter: drop-shadow( 0 0 10px hsl(280, 100%, 43%));

    page-break-before: always;

}

#toc {

    columns: 2;

    width:250mm;

    column-fill: auto;

}

#toc ul {
    margin-top:0;
}



body{
    font-size: 12px;
    line-height: 1.5;
    

    font-family: "Absans";

}

/* ------------------------------------ cover */

@page:first{
    background-color: #212121;
    text-align: center;
}
section#cover{
    break-after: always;
    color: #eee;
    margin: 0px;
    height: 100%;
}
section#cover h1#title{
    font-size: 300%;
}
section#cover img{
max-width: 100%;
}

/* ------------------------------------ main */

h3 {
    page-break-before: always;
}

section#main pre{
    color: magenta;
}

img {
    max-width:100%;
    }
    
    
hr{

    border: 0;

    page-break-after: always;

}

a {
   text-decoration-style: wavy;
   color:hsl(280, 100%, 43%);
   word-break: break-all;
    }
    
    
    
    
ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   font-size: 0.95em;
/*   text-indent: -1em; */
}

ul li:before {
    content: '*';
    color: hsl(280, 100%, 43%);
    padding-right: 0.5em;
}



